html {
    background-color: lightblue;
    font-size: 3vw;
}

#test {
    border: solid seagreen 1px;
}
#test2 {
    border: solid red 1px;
}

#searchWrapper {
    border: solid navajowhite 1px;
    height: 100vh;
    text-align: center;
    padding-top: 2vh; 
}

#citySearch {
    border: solid blue 1px;
    padding-top: 2vh;
}

#searchHistory {
    border: solid purple 1px;
    padding-top: 2vh;
    height: 76vh;
    overflow: hidden;
}

#searchHistoryTitle {
    text-decoration-line: underline;
    margin: 0;
}

#weatherWrapper {
    border: solid red 1px;
    height: 94.5vh;
    padding-top: 2vh;
    overflow: hidden;
    margin-right: 0;
    float: right;
}

#currentDate{
    font-size: large;
}

#currentWeather {
    height: 45vh;
    border: solid green 3px;
    text-align: center;
    overflow: hidden;
}

#currentWeatherTitle {
    text-decoration-line: underline;
    margin: 0;
}

#currentWeatherConditions {
    text-align: center;
}

#weatherForecast {
    border: solid aqua 3px;
    text-align: center;
}

#forecastTitle {
    text-decoration-line: underline;
    margin: 0;
}


#forecastDay1 {
    border: solid purple 1px;
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 2vw;
    margin-left: 2vw;
    margin-top: 1vw;
}

#forecastDay2 {
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 2vw;
    margin-top: 1vw;
}

#forecastDay3 {
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 2vw;
    margin-top: 1vw;
}

#forecastDay4 {
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 2vw;
    margin-top: 1vw;
}

#forecastDay5 {
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 2vw;
    margin-top: 1vw;
}
