.pageWrapper {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
}

#searchWrapper {
    border: solid navajowhite 1px;
    height: 100vh;
    text-align: center;
    padding-top: 2vh;
    width: 20vw;  
}

#citySearch {
    border: solid blue 1px;
    padding-top: 2vh;
    width: 18vw;
}

#searchHistory {
    border: solid purple 1px;
    padding-top: 2vh;
    height: 76vh;
    overflow: hidden;
    width: 18vw;
}

#searchHistoryTitle {
    text-decoration-line: underline;
    margin: 0;
}

#weatherWrapper {
    border: solid red 1px;
    height: 94.5vh;
    padding-top: 2vh;
    overflow: hidden;
    width: 80vw;
    margin-right: 0;
    float: right;
}

#currentDate{
    font-size: large;
}

#currentWeather {
    height: 45vh;
    border: solid green 3px;
    text-align: center;
}

#currentWeatherTitle {
    text-decoration-line: underline;
    margin: 0;
}

#weatherForecast {
    border: solid aqua 3px;
    text-align: center;
}

#forecastTitle {
    text-decoration-line: underline;
    margin: 0;
}

/*
#forecastDay1 {
    border: solid purple 1px;
    height: 35vh;
    overflow: hidden;
    float: left;
    margin-left: 2vw;
    width: fit-content;
    background-color: darkblue;
    color: white;
    margin-right: 3vw;
}

#forecastDay2 {
    border: solid lime 1px;
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 3vw;
}

#forecastDay3 {
    border: solid blue 1px;
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 3vw;
}

#forecastDay4 {
    border: solid black 1px;
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 3vw;
}

#forecastDay5 {
    border: solid red 1px;
    height: 35vh;
    overflow: hidden;
    float: left;
    background-color: darkblue;
    color: white;
    margin-right: 3vw;
}
*/