html {
    background-color: lightblue;
    font-size: 2vw;
    font-size: 2vh;
}

#citySearch {
    border: solid blue 1px;
    padding-top: 2vh;
}

#searchHistory {
    border: solid purple 1px;
    padding-top: 2vh;
    height: fit-content;
    overflow: hidden;
}

#searchHistoryTitle {
    text-decoration-line: underline;
    margin: 0;
}

#currentDate{
    font-size: large;
}

#currentWeather {
    border: solid green 3px;
    text-align: center;
    overflow: hidden;
    height: fit-content;
}

#currentWeatherTitle {
    text-decoration-line: underline;
    margin: 0;
}

#currentWeatherConditions {
    text-align: center;
}

#weatherForecast {
    border: solid aqua 3px;
    text-align: center;
}

#forecastTitle {
    text-decoration-line: underline;
    margin: 0;
}
